@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: black;
}

.main {
    background-image: url("./assets/image/bg_new.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    width: 100vw;
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0px;
}

nav {
    max-width: 80vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

nav>span>img {
    color: rgb(229, 9, 20);
    /* padding: 22px 0 0; */
    width: 9.25rem;
    height: 2.5rem;
    position: relative;
    z-index: 10;
}

nav>div>button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Poppins', sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap:43px;
    padding: 0 25px;
}
.hero> :nth-child(1){
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;;
    font-weight: 700;
    text-align: center;
}
.hero> :nth-child(2){
    font-size: 1.125rem;
    font-weight: 400;
    text-align: center;
}
.hero>:nth-child(3){
    font-size: 1.125rem;
    font-weight: 400;
    text-align: center;
}
.separation{
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}

.btn{
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background: rgba(248, 243, 243, 0.021);
    border: 1px soild white;
    cursor: pointer;
}
.btn-red{
    background-color: red;
    padding: 3px 24px;
    font-size: 20px;
    border-style: solid;
    border-width: 0.0625rem;
    border-radius: calc(0.25rem - 0.0625rem);

}
.btn-red-sm{
    background-color: red;
}
.hero-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 2rem;
    gap: 7px;
}

.hero-buttons > input{
    /* background:none; */
    background-color: rgba(23,23,23,0.7);
    color: white;
    padding: 7px 101px 8px 14px;
    /* font-weight: 900; */
    font-size: 12px;
    border-radius: 4px;
    border:1px solid rgba(246, 238, 238, 0.5);
}


.first{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    color: white;
}


.secImg{
    position: relative;
}
.secImg img{
    width: 555px;
    position: relative;
    z-index: 10;

}
.secImg video{
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;
}
section{
    padding: 3.5rem 0;
}
section .first > div{
    /* display: flex;
    flex-direction: column; */
    padding: 34px 0;
}
.first >div :first-child{
    font-size: 2rem;
    font-weight: bolder;
}
.first >div :nth-child(2){
    font-size: 1.125rem;
}
.faq{
    color: white;
}
.faq h2{
    text-align: center;
    font-size: 2rem;
}
.faq .faqbox{
    font-size: 1.5rem;
    font-weight: 400;
    background-color: #2d2d2d;
    display: flex;
    padding: 2rem;
    max-width: 70vw;
    margin: 10px auto;
    justify-content: space-between;
    cursor: pointer;
    /* transition: all 2s ease-out; */
}
.faq .faqbox:hover{
    background-color:#414141;
}
.faq .Ready{
    text-align: center;
    margin: 2rem;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
}

footer{
    color: white;
    max-width: 70vw;
    margin: auto;
    padding: 14px;
}
footer > div{
    padding: 30px 0 2px;
}

.footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    color: white;
    
}
@media screen and (max-width: 1300px) {
    .footer{
        grid-template-columns: repeat(2,1fr);
        gap: 25px;
    }
}
.footer-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 23px;
}


@media screen and (max-width:959.98px){
    .hero-buttons {
        flex-direction: column;
        gap: 1.5rem;
    }
    nav{
        max-width: 90vw;
    }
    .first{
        flex-wrap: wrap;
    }
    .secImg img{
        width: 305px;
    
    }
    .secImg video{
        width: 305px;
    }
    .faq .faqbox{
        font-size: 1.125rem;
    }
    footer{
        max-width: 90vw;
    }
}
.footer-item a{
    color: #b3b3b3;
    font-size: 14px;
    /* padding: 5px 0 ; */
}
